/*MOBILE-FIRST DESIGN (Default)
Styles for small screens*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:#e3e9e9;
}

header {
  background-color:#5045eb;
  color:white;
  text-align: center;
  padding: 1.5rem;
}

nav {
  background-color:#c01e1e;
  text-align: center;
}

nav a {
  display: block;
  padding: 1rem;
  color:white;
  text-decoration: none;
}

nav a:hover {
  background-color:#555555;
}

main {
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  background-color:#7bafe6;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 2px 2px 10px Orgba(0, 0, 0, 0.2);
}

footer {
  background-color:#007bff;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

/*MEDIA QUERY for Tablets
(Screen width 600px and above)*/

@media (min-width: 600px) {
  nav a {
    display: inline-block;
    padding: 1rem 2rem;
   }

   .container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .card {
      flex: 1 1 45%;
      flex: 1 1 45%;
      max-width: 45%;
    }
}

/*MEDIA QUERY for Desktops
(Screen width 900px and above)*/

@media (min-width: 900px) {
  header {
    font-size: 2rem;
  }

  .card {
    flex: 1 1 30%;
    max-width: 30%;
}

  nav {
    text-align: left;
    padding-left: 2rem;}

  nav a {
    font-size: 1.1rem;
    margin-right: 1rem;
  }

  main {
    padding: 2rem 5rem;}
  }